@using Client.Models
<h3>Departments</h3>

<div>
    <select @bind="SelectedValue" size="5" class="overflow-auto" style="font-size: large; min-width:250px; max-width:400px;">
        @if (Departments is not null)
        {
            foreach (var department in Departments)
            {
                <option class="px-2" @onmousedown="@(async (em) => mouseEvent = em)" value="@department.DepartmentId" style="@(SelectedValue == department.DepartmentId ? "background-color: lightgray" : "background-color: white")">
                    @department.DepartmentName
                </option>
            }
        }
    </select>
</div>



@code {
    [Parameter] public List<Department> Departments { get; set; }
    [Parameter] public int SelectedValue { get; set; } //Department ID
    [Parameter] public EventCallback<int> ValueChanged { get; set; }



    private MouseEventArgs mouseEvent = null!;

    protected override void OnInitialized()
    {
        SelectedValue = -1;
    }

    private void OnSelectionChange()
    {
        ValueChanged.InvokeAsync(SelectedValue);
    }

    private void Clear()
    {
        SelectedValue = -1;
        ValueChanged.InvokeAsync(SelectedValue);
    }

  
}
