@page "/departments"
@using Client.Models
@using Client.Services
@inject NavigationManager NavigationManager
@inject IDepartmentService _departmentService

<h3>Departments</h3>

@if (Departments is null)
{
    <p>Loading ....</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Department Name</th>
                <th>Employees</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var department in Departments)
            {
                <tr>
                    <td>@department.DepartmentName</td>
                    <td>
                        <ul>
                            @foreach (var employee in department.Employees)
                            {
                                <li>
                                    <a href="@($"employee/{employee.EmployeeId}")">
                                        @($"{employee.FirstName} {employee.LastName}")
                                    </a>
                                </li>
                            }
                        </ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}

@code {

    private List<Department>? Departments { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Departments = (await _departmentService.GetAllDepartmetsAsync())?.ToList();
    }
}
