@page "/departments"
@using Client.Models
@using Client.Services
@using Client.Pages.Popup
@inject NavigationManager NavigationManager
@inject IDepartmentService _departmentService
@inject IEmployeeService _employeeService

<h3>Departments</h3>

@if (departments is null)
{
    <p>Loading ....</p>
}
else
{
    <select @onchange="OnDepartmentChange">
        @foreach (var deaprt in departments)
        {
            <option value="@deaprt">
                @deaprt.DepartmentName
            </option>
        }
    </select>

    @if (showPopup)
    {
        <EmployeePopup Department="selectedDepartment" OnClose="ClosePopup"></EmployeePopup>
    }
}

@code {

    private List<Department> departments { get; set; }
    private string  selectedDepartment { get; set; }
    private bool showPopup = false;

    protected override async Task OnInitializedAsync()
    {
        departments = await _departmentService.GetAllDepartmetsAsync() ?? new();
    }

    private void OnDepartmentChange(ChangeEventArgs e)
    {
        selectedDepartment = e.Value.ToString();
        showPopup = true;
    }

    private void ClosePopup()
    {
        showPopup = true;
    }
}
